$primary:   #22292e;
$secondary: #1a2024;
$tertiary: #13171a;
$white:     #fff;
$black:     #000;
$red:       #a5170d;
$blue:      #0f5ea7;

$z-index-sidebar: 1000;
$z-index-header:  1000;
$sidebar-width: 300px;
