<aside class="sidebar">
	<div class="sidebar__header">
		<img src="assets/images/sidebar-header.jpg" alt="" />
	</div>

	<div class="sidebar__content">
		<div class="profile">
			<img class="profile__avatar" src="https://placehold.it/100" alt="" />
			<div class="profile__name">Andrew Wilson</div>
			<div class="profile__prof">Photographer</div>

			<ul class="social">
				<li class="social__item">
					<a class="social__link" href="#" target="_blank">
						<img src="assets/images/instagram.svg" alt="#" />
					</a>
				</li>
				<li class="social__item">
					<a class="social__link" href="#" target="_blank">
						<img src="assets/images/pinterest.svg" alt="#" />
					</a>
				</li>
				<li class="social__item">
					<a class="social__link" href="#" target="_blank">
						<img src="assets/images/behance.svg" alt="#" />
					</a>
				</li>
			</ul>

			<div class="profile__text">
				<p>
					Welcome to my Blog. I hope to keep you informed of what’s going on in
					my world.
				</p>
			</div>
		</div>
		<!-- /.profile -->
	</div>
	<!-- /.sidebar__content -->

	<div class="sidebar__footer">
		<a class="btn btn--red" href="#">Мои работы</a>
		<button class="btn btn--blue" type="button">Написать мне</button>
	</div>
</aside>
